{% extends 'base.html'%}
{% block content%}


<div class="d-flex justify-content-center align-items-center fs-4 w-100 h-100">

    <form action="{{request.path}}" target="_self" method="post" style="width: 800px;" >
        {% csrf_token %}
        <div class="row">
            <lable for="username">Имя пользователя*</lable>
        </div>
        <div class="row"><input type="text" required name="username" id="username"></div>
        <div class="row">
            <lable for="password">Пароль</lable>
        </div>
        <div class="row"><input type="password" required name="password" id="username"></div>
        
 
 
        <button  type="submit" class="btn btn-success p-2 fs-4 w-100 mt-3">Отправить</button>
        {% if messages %}
        <ul class="messages" style="color:var(--bs-danger)">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>

</div>

{% endblock %}

